%h1 Style Guide

.section
  %h1 Heading one.
  %pre.example
    %code
      :escaped
        <h1>Heading one.</h1>
  %h2 Heading two.
  %pre.example
    %code
      :escaped
        <h2>Heading two.</h2>
  %h3 Heading three.
  %pre.example
    %code
      :escaped
        <h3>Heading three.</h3>

.section
  %h1 Page Heading
  %h2 Section heading
  %h3 Paragraph heading
  %p
    Paragraph... dis amet porttitor semper nisi imperdiet pulvinar in suspendisse enim, cras magna. Vehicula parturient semper maecenas aliquam pellentesque fringilla. Taciti vulputate dapibus proin sit ipsum ultricies dapibus pellentesque phasellus. Phasellus. Interdum malesuada pede per gravida a, ullamcorper nam, cras elementum et luctus.
  %ul
    %li
      List item one
    %li
      List item two
  %pre.example
    %code
      :escaped
        <h1>Page Heading</h1>
        <h2>Section heading</h2>

        <h3>Paragraph heading</h3>
        <p>
          Paragraph... dis amet porttitor semper nisi imperdiet pulvinar in suspendisse enim, cras magna. Vehicula parturient semper maecenas aliquam pellentesque fringilla. Taciti vulputate dapibus proin sit ipsum ultricies dapibus pellentesque phasellus. Phasellus. Interdum malesuada pede per gravida a, ullamcorper nam, cras elementum et luctus.
        </p>
        <ul>
          <li>
            List item one
          </li>
          <li>
            List item two
          </li>
      </ul>
